# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
nbproject/
nbbuild/
dist/
nbdist/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Database
*.db
*.db-journal

# Logs
*.log
